@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900');

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#loginTitle, #registerTitle {
  font-size: 48px;
  font-weight: 700;
  color: #333333;
  margin-top: 0;
  margin-bottom: 30px;
}